---
replicaCount: ${p2p_app_config_replicas}

resources:
  requests:
    cpu: ${p2p_app_config_resources_limits_cpu}
    memory: ${p2p_app_config_resources_limits_memory}
  limits:
    cpu: ${p2p_app_config_resources_limits_cpu}
    memory: ${p2p_app_config_resources_limits_memory}

startupProbe:
  failureThreshold: 30
  httpGet:
    port: 8081
    path: /health
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 5
livenessProbe:
  failureThreshold: 3
  httpGet:
    port: 8081
    path: /health
  periodSeconds: 20
  successThreshold: 1
  timeoutSeconds: 5
readinessProbe:
  failureThreshold: 3
  httpGet:
    port: 8081
    path: /health
  periodSeconds: 20
  successThreshold: 1
  timeoutSeconds: 5

ingress:
  enabled: true
  hosts:
    - paths:
        - path: "/"
          pathType: "ImplementationSpecific"

service:
  port: 8080

metrics:
  enabled: true
  port: 8081
