---
replicaCount: ${p2p_app_config_replicas:-2}

resources:
  requests:
    cpu: ${p2p_app_config_resources_limits_cpu:-1000m}
    memory: ${p2p_app_config_resources_limits_memory:-1024Mi}
  limits:
    cpu: ${p2p_app_config_resources_limits_cpu:-1000m}
    memory: ${p2p_app_config_resources_limits_memory:-1024Mi}

livenessProbe:
  failureThreshold: 3
  httpGet:
    port: 8081
    path: /health
  periodSeconds: 20
  successThreshold: 1
  timeoutSeconds: 1
readinessProbe:
  failureThreshold: 3
  httpGet:
    port: 8081
    path: /health
  periodSeconds: 20
  successThreshold: 1
  timeoutSeconds: 1

ingress:
  enabled: true
  hosts:
    - paths:
        - path: "/"
          pathType: "ImplementationSpecific"

service:
  port: 8080

metrics:
  enabled: true
  port: 8081
