---
replicaCount: ${p2p_app_config_replicas:-2}

resources:
  requests:
    cpu: ${p2p_app_config_resources_limits_cpu:-250m}
    memory: ${p2p_app_config_resources_limits_memory:-512Mi}
  limits:
    cpu: ${p2p_app_config_resources_limits_cpu:-250m}
    memory: ${p2p_app_config_resources_limits_memory:-512Mi}

livenessProbe:
  failureThreshold: 3
  httpGet:
    port: 9898
    path: /healthz
  periodSeconds: 20
  successThreshold: 1
  timeoutSeconds: 1
readinessProbe:
  failureThreshold: 3
  httpGet:
    port: 9898
    path: /readyz
  periodSeconds: 20
  successThreshold: 1
  timeoutSeconds: 1

ingress:
  enabled: true
  hosts:
    - paths:
        - path: "/"
          pathType: "ImplementationSpecific"

service:
  port: 9898

metrics:
  enabled: false
  port: 8081
